@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');


#logos {
    padding-top: 10px;
    padding-left: 200px;
}

#spacerskills {
    padding-bottom: 100px;
}

#skills {
    font-size: 60px;
    padding-left: 220px;
    padding-bottom: 80px;
    padding-top: 100px;
    font-family: 'Inconsolata', monospace;
    color: #0071c6;
}

div[id^="logo"]:hover {
    cursor: url("hand.png"), pointer;
}
