

#experience {
    font-size: 60px;
    padding-left: 220px;
    padding-bottom: 80px;
    padding-top: 100px;
    font-family: 'Inconsolata', monospace;
    color: #0071c6;
}

#spacerexp {
    padding-bottom: 100px;
}