@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');


#menubar{
  width: 100%;
  display: flex;
  justify-content: flex-end; 
  padding-top: 10px;
}

#spacerhome {
  padding-bottom: 70px;
}

div[id^='item']:hover {
  background-color: #0071c6;
  padding: 1px;
  color: white;
  border-radius: 20px;
  cursor: url("hand.png"), pointer;
}

div[id='resume']:hover {
  background-color: #03a940;
  padding: 1px;
  color: white;
  border-radius: 20px;
  cursor: url("hand.png"), pointer;
}

#name {
  text-align: center;
  color: #0071c6;
  font-size: 22px;
  padding: 15px;
  padding-right: 1000px;
  font-family: 'Inconsolata', monospace;
}

#item1, #item2, #item3, #item4, #item5, #item6, #resume {
  text-align: center;
  font-size: 18px;
  padding: 15px;
}

#about1 {
  height: 300px;
  font-size: 80px;
  display: flex;
  align-items: flex-end;
}

#about3 {
  height: 150px;
  font-size: 60px;
  display: flex;
  align-items: baseline;
}

#about4 {
  height: 150px;
  display: flex;
  align-items: baseline;
}

#about4 h6 {
  color: #03a940;
  font-size: 35px;
  margin: 0 auto;
  opacity: 0;
  animation: opacityOn 50ms forwards;
  animation-delay: 3.1s;
}

#about4 h6:hover {
  text-decoration: underline;
  font-size: 40px;
  cursor: url("hand.png"), pointer;
}

#about1 h4{
  overflow: hidden;
  border-right: 0.15em solid #0071c6;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.1em;
  animation:
    typing1 1.5s steps(25, end),
    blinking1 1s step-end forwards;
}

#about3 h6{
  opacity: 0;
  overflow: hidden;
  border-right: 0.15em solid #0071c6;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.1em;

  animation:
    typing 1.5s steps(25, end),
    blinking 1.3s step-end infinite;
  animation-delay: 1.5s;
}

#about2 {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: profile_slidein;
  animation-duration: 1s;
}

#about2 img {
  width: auto;
  max-height: 80%;
  border-radius: 30%;
  border: 5px solid;
}

@keyframes profile_slidein {
  from { transform: translateX(100%); }
  to { transform: translateX(0%);}
}

@keyframes blinking1 {
  from, to { border-color: transparent }
  10% { border-color: #0071c6}
}

@keyframes typing1 {
  from { width: 0}
  to { width: 75% }
}

@keyframes blinking {
  from, to { border-color: transparent ; opacity: 1}
  50% { border-color: #0071c6; opacity: 1}
}

@keyframes typing {
  from { width: 0; opacity: 1 }
  to { width: 65% ; opacity: 1}
}

@keyframes opacityOn {
  from{opacity: 50%}
  to {opacity: 100%}
}
